<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary" class="tt">
      <b>      List of Questions
      </b>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-input type="file" (change)="importQuestions($event)" accept=".json"></ion-input>
  <ion-button (click)="exportQuestions()">Export Questions</ion-button>
<!--  <ion-button (click)="deleteQuestions()">Delete Questions</ion-button>-->
<!--  <ion-button (click)="exportQuestions()">Questions</ion-button>-->
  <ion-grid>
    <ion-row style="background-color: rgba(0, 0, 0, 0.1)">
<!--      <ion-col size="1" class="ion-text-center">-->
<!--        <ion-checkbox (ionChange)="selectAll()" [(ngModel)]="selectAllChecked"></ion-checkbox>-->
<!--      </ion-col>-->
      <ion-col size="4">
        Question
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        Subject
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        Type
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        Difficulty
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        Options
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of questions; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">
<!--      <ion-col size="1" class="ion-text-center">-->
<!--        <ion-checkbox [(ngModel)]="item.isChecked"></ion-checkbox>-->
<!--      </ion-col>-->
      <ion-col size="4">
        {{item.question}}
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        {{item.subject}}
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        {{item.type}}
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        {{item.difficulty}}
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-button size="small" [routerLink]="['/question-edit', item.id]" routerDirection="forward">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="deleteQuestion(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
