.even{
  background-color: rgba(0, 0, 0, 0.1);
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}

.odd{
  background-color: rgba(0, 0, 0, 0.05);
  display: flex!important;
  align-content: center!important;
  align-items: center!important;
}
.tt{
  font-size: x-large;
  font-family: "Comic Sans MS";
}
