<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary" class="tt">
     <b>Home</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success">
    <ion-card color="light" class="welcome-card">
      <img src="/assets/home.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle><i>Click on the menu button to start your paper</i></ion-card-subtitle>
        <ion-card-title class="tt"><br/>Welcome to Question Generation System</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
